@tailwind base;
@tailwind components;
@tailwind utilities;

.MangaContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
  align-items: stretch;
  justify-content: center;
}

@media (max-width: 768px) {
  .MangaContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
